# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/repositories.config

# ASP.NET / .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db